.navBar {
  display: flex;
  align-items: end;
  position: fixed;
  /*float: left;*/
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  /*    display: table; */
  height: 120px;
  border: none;
  border-width: 0;
  padding: 1.5em;
  justify-content: space-between;
}
.navText{
  display: flex;
  flex-direction: column;
  align-items: center;
}
